@include treelist-ui(
    $ui: 'navigation',
    $padding: 0 10px,

    // Black-ish background color
    $background-color: $panel-navigation-background-color,
    $toolstrip-background-color: #32404e,

    $tool-float-indicator-color: $panel-header-background-color,
    $tool-float-indicator-width: 5px,

    $tool-indicator-selected-color: $panel-header-background-color,
    $tool-indicator-selected-width: 5px,
    $tool-selected-background-color: mix(white, $panel-navigation-background-color, 10%),
    //$tool-selected-color: #fff,
    //$tool-selected-background-color: $panel-header-background-color,

    // Darker background for expanded subtrees
    $item-expanded-background-color: #555,

    // Taller line height
    $item-line-height : $panel-navigation-item-line-height,

    $row-over-background-color: mix(white, $panel-navigation-background-color, 5%),
    $row-selected-background-color: mix(white, $panel-navigation-background-color, 10%),

    // Off-white text
    $item-icon-color: $panel-navigation-item-text-color,
    $item-expander-color: #ADB3B8,
    $item-text-color: #fff,

    // Brighter when hovered
    $item-icon-over-color: #fff,
    $item-expander-over-color: #fff,
    $item-text-over-color: mix(white, $panel-navigation-item-text-color, 50%),
    $item-text-font-size: 14px,

    // Various sizes for the pieces:
    $item-icon-font-size: 18px,
    $item-icon-width: 44px,
    $item-expander-font-size: 16px,
    $item-expander-width: 24px,

    // Style the "row indicator" (the vertical stripe on the left edge):
    $row-indicator-width: 5px,
    $row-indicator-selected-color: $panel-header-background-color,
    $row-indicator-selected-over-color: lighten($panel-header-background-color, 7%),
    $row-indicator-over-color: transparent
);

//--------------------------------------------------------
// Create classes for full-size responsive items

.big-100 {
    @include responsivecolumn-item(100%);
}

.big-60 {
    @include responsivecolumn-item(60%);
}

.big-50 {
    @include responsivecolumn-item(50%);
}

.big-40 {
    @include responsivecolumn-item(40%);
}

.big-33 {
    @include responsivecolumn-item(33.33%);
}

.big-20 {
    @include responsivecolumn-item(20%);
}

//--------------------------------------------------------
// And classes for small-size responsive items

 .x-responsivecolumn-small {
     > .small-100 {
         @include responsivecolumn-item(100%);
     }

     > .small-50 {
         @include responsivecolumn-item(50%);
     }
}

//--------------------------------------------------------

.delete-focus-bg {
    background: white;
    border-color: white;
}

.dm-dash-dash-headerbar {
    padding:0 25px 0 0;
    position:fixed;
    width:100%;
    z-index:10;
    border:none;
    .header-right-profile-image {
        border-radius: 20px;
    }
}
.top-english-button{
    .x-btn-icon-el{
        width:21px;
        height:14px;
    }
}
.collapsed{
    .hot-icon,.new-icon{
        &:after{
            display:none;
        }
    }
    .x-tree-elbow-img{
        display:none;
    }

    .x-tree-node-text {
        display:none;
    }
}

.x-body {
    color: #555;
    font-size: $dm-font-size-content;
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.4em;
    background: #f6f6f6;
}

.x-grid-td {
    vertical-align: middle;
}
.x-grid-cell-inner {
    img {
        vertical-align: middle;
    }
}
.x-grid-item, .x-form-item-label-default, .x-form-cb-label-default, .x-tab-inner-default, .x-window-body-default {
    font-family: $font-family;
    font-size: $dm-font-size-content;
    line-height: 1.4em;
    vertical-align: middle;
}

.x-form-text-default {
    font-family: $font-family;
    font-size: 13.3333px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.x-grid-cell{
    position:relative;
}

.x-treelist-item-tool {
    height: $panel-navigation-item-line-height;
    &.hot-icon:after, &.new-icon:after{
        background: $panel-header-background-color;
        content: '';
    }
}

.toolbar-btn-shadow{
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
    .x-btn-over{
        background-color: $button-toolbar-hover-background-color;
    }
}

//Add border around html editor field
.x-html-editor-input{
    border:1px solid #ccc;
}

.delete-focus-bg {
    &:focus, &:hover{
        background: none;
    }
}

//UI Styles for buttons
@include extjs-button-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);

@include extjs-button-large-ui(
    $ui: 'soft-blue',
    $line-height: 34px,
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);

@include extjs-button-toolbar-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);

@include extjs-button-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);

@include extjs-button-toolbar-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);

@include extjs-button-large-ui(
    $ui: 'soft-green',
    $line-height: 34px,
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);

@include extjs-button-toolbar-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);

@include extjs-button-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);


@include extjs-button-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-large-ui(
    $ui: 'gray',
    $line-height: 34px,
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);

@include extjs-button-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);


@include extjs-button-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);

.x-css-shadow[style] {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
}

.x-window-header-default-top {
    background-color: white;
}

.x-window-header-default {
    border-width: 0px !important;
    //border-left: 0px solid #e5e5e5;
    //border-top: 0px solid #e5e5e5;
    //border-right: 0px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5 !important;
}

.x-window-header-default .x-tool-img {
    color: #555;
    background-color: white;
}

.x-window-header-title-default {
    font-family: $font-family;
    font-weight: bold;
    color: #555;
}

.x-window-default {
    border-width:0px;
}

.x-tab-bar-default {
    background-color: white;
    border-bottom: 1px solid #e5e5e5 !important;
}

.x-tab {
    color: #e5e5e5;
}

.x-tab-active {
    background-color: rgba(0,0,0,0.08) !important;
    border-bottom: 3px solid $base-color !important;
}

.x-tab-over {
    border-bottom: 3px solid rgba(0,0,0,0.08) !important;
}

.x-tab-inner-default  {
    color: #818181;
}

.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
    color: #555;
}

.x-toolbar-default-docked-bottom, .x-toolbar-footer {
    border-top: 1px solid #e5e5e5 !important;
    background-color: white;
}

#filterkeywords-listWrapper {
    width: 140px;
    max-height: 47px !important;
}

.x-form-trigger {
    vertical-align: middle;
}

#search_input-inputEl {
    font-size: 18.3333px;
}

.prio-fieldset .x-fieldset-header-text {
    color: #404040 !important
}

// Chrome 87 Quickfix
.x-fieldset {overflow: visible !important;}
.x-fieldset-header {overflow: visible !important;}
.x-fieldset-header .x-tool-tool-el {overflow: visible !important;}
